/*Estilo CSS da página Clube Penguin */
/*importar a fonte título do google fonts - Hachi maru */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

@font-face {
    font-family: "Bellota";
    src: url(/src/fonts/BellotaText-Regular.ttf);
}
@font-face {
    font-family: "Hachi Maru";
    src: url(/src/fonts/HachiMaruPop-Regular.ttf);
}

/*bora zerar a página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;
    background: #F3F5EB;
}
h2, h3, h4{
    font-family: "Hachi Maru";
    font-style: none;
    margin-bottom: 40px;
}

.header-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.header-logo{
    height: 72px;
}
.header-menu-nav{
    display: flex;
    gap: 35px;
    
}
.header-menu-item{
    font-family: "Bellota", monospace;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.conteudo-principal{
    border-top: 2px dashed #AED4E5;
    margin-bottom: 35px;
}
.conteudo-principal-imagem{
   width: 100%;
   padding: 0;

}
.conteudo-principal-sobre{
    border-top: 2px dashed #AED4E5;
    padding: 18px;
    font-family: "Bellota";
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.conteudo-principal-livrinho-mundo{
    padding:10px;
    margin-bottom: 18px;
}

.conteudo-pesquisa{
    background-color: #AED4E5;
    font-family: "Bellota";
    font-size: 18px;
    text-align: start;

    max-width: 100vw;
    width: 100%;
    height: 550px;
    padding: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
   
}
.conteudo-pesquisa-problematica{
    max-width: 100vw;
    width: 35%;
    height: 450px;
    padding: 40px;
}
.titulo-problematica{
    text-align: start;
}
.conteudo-pesquisa-problematica-sobre{
    text-align: start;
    font-size: 24px;
}


.conteudo-pesquisa-solucao{
    max-width: 100vw;
    width: 35%;
    height: 450px;
    padding: 40px;
}


.titulo-solucao{
    text-align: start;
}

.conteudo-pesquisa-solucao-sobre{
    text-align: start;
    font-size: 24px;
}
.vem-pra-caixa-vc-tbm{
    font-size: 25px;
}

.conteudos-disponibilizados{

}
.titulo-conteudos{

}

.conteudos-disponibilizados-livros{

}

.titulo-livros{

}
















.nome-gica{
    color: #915ee3
}